header img {
    width:60px;
    height: 60px;
    margin-left: 67px;
}
.nav-links{
    
    display: flex;
    width:30%;
    list-style: none;
    align-items:center;
    margin-right: 66px;
}
.nav-links li{
    margin-left: 25px;
    margin-right: 25px;
    justify-content: space-around;
}
.navmenu{
    display: flex;
    justify-content: space-between;
    padding:15px;
    align-items:center;
}
.nav-links a{
    text-decoration: none;
    color:#e5e7eb
}

.nav-links a:hover {
    color:#4fa3db;
    text-decoration: underline;
}
header {
    display: flex;
    justify-content: space-between;
    padding:15px;
    align-items:center;
    position: sticky;
    top:0;
    background-color: #1f2937;
}
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f2937;
    color: #e8e8e6;
}
.css-span{
    color:#4fa3db;
   font-weight: bold;
}

.watchvideo-btn{
    border:none;
    width:135px;
    height: 45px;
    margin-top: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 10%;
}
.watchvideo-btn:hover {
    background-color: #4fa3db;
    color: white;
}
.footer-message{
    text-align: center;
    padding:20px;
    color:#e5e7eb
}
.footer-message{
    background-color: #1f2937;
}

.footer-message span {
    color:#5b6b7f;
    font-weight: bold;}

.ullistration h3{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;

}
.wrapp{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 100px;
}

.ullistration figure{
    border: 3px solid #4fa3db;
    border-radius: 5%;
    justify-content: end;
    text-align: center;
}
.quotes{
    margin-top: 50px;
    display: inline-block;
    background-color: #e5e7eb;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.quotes blockquote{
    display: block;
    margin-right: 100px;
    align-items: center;
}
.quotes blockquote em{
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    padding-left: 200px;
    
}

.call-to-action{
    display: flex;
    justify-content: center;
    background-color: #4fa3db;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 2.5%;
    color: #e5e7eb;
}
.call-to-action aside{
    margin: 10px;
}
.call-to-action button{
    border: solid 2px white;
    background-color: #4fa3db;
    border-radius: 10%;
    padding: auto;
    margin: 25px;
    width: 100px;
    color: white;
}